.favourite.page-body{
    background: #eee;
    .card-holder{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        .card:not(:first-child){
            margin-left: 70px;
        }
    }
    .card{
        width: 340px;
        height: 340px;
        border-radius: 10px;
        background: white;
        padding: 20px 20px 0 20px;
        display: flex;
        flex-direction: column;
    }
    .title-sec{
        font-size: 30px;
        color: #333;
        padding-bottom: 12px;
        border-bottom: 1px solid #eee;
        font-weight: 500;
        text-transform: uppercase;
        .cat-type{
            font-size: 12px;
            color: #999;
            padding-top: 5px;
        }
    }
    .progress-bar-sec{
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
    }
    .count-footer{
        font-size: 14px;
        display: flex;
        align-items: center;
        border-top: 1px solid #eee;
        line-height: 20px;
        .fake-border{
            height: 100%;
            width: 1px;
            background: #eee;
        }
        .count-sec{
            width: 50%;
            padding: 15px 0px;
            text-align: center;
            color: #999;
        }
    }
}
